In [22]:
#Business Problem: Find the accuracy scores by applying various regression machine learning models

In [23]:
#Data Collect
import pandas as pd
import numpy as np

In [24]:
data = pd.read_csv('/Users/saurabhingole/Downloads/bepec/Machine Learning/regression and classification/4. Automobile price data _Raw_.csv')

In [25]:
#Data Understanding - Reporting
data.shape

(205, 26)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

here we are able to see that  the issue is incorrect 
data types in some columns of our Data. To solve it,  we convert the relevant columns 
to their appropriate numeric types using pd.to_numeric() , but before that we will do some data cleaning !

In [27]:
for column in ['normalized-losses','bore','stroke','horsepower','peak-rpm','price']:
    data[column] = pd.to_numeric(data[column], errors='coerce')

data types after

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [29]:
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

# Data Cleaning

In [30]:
data.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [31]:
# this column dont realy impact our output column also there are some wrong data present so we will drop it 
data['symboling'].unique()

array([ 3,  1,  2,  0, -1, -2])

In [32]:
data = data.drop('symboling', axis=1)

In [33]:
# it is always prefer to keep the data inside the column in numerical format because our model understands only numbers
data['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [34]:
data['num-of-cylinders'] = data['num-of-cylinders'].replace(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],[4,6,5,3,12,2,8])

In [35]:
data['num-of-doors'].unique()

array(['two', 'four', '?'], dtype=object)

In [36]:
data['num-of-doors'] = data['num-of-doors'].replace(['two', 'four', '?'],[2,4,4])

There are question mark (“?”) in our data in some columns, it indicates missing or unknown information. To handle this, we can replace the question marks with appropriate values.

In [37]:
data = data.replace('?',np.nan)

In [38]:
columns_to_fill = ['normalized-losses', 'bore', 'stroke', 'horsepower', 'peak-rpm', 'price']

# Fill null values with the mean of each column
for col in columns_to_fill:
    data[col] = data[col].fillna(data[col].mean())

In [39]:
data.head()

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,122.0,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,122.0,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,122.0,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,164.0,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,164.0,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

# Data Encoding

we are using label encoder

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
columns_to_encode = ['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels',
        'engine-location', 'fuel-system', 'engine-type', 'fuel-system']

# Initialize label encoder
label_encoders = {}

# Apply label encoding to each column
for column in columns_to_encode:
    le = LabelEncoder()
    data[column] = le.fit_transform(data[column])
    label_encoders[column] = le

# Display the transformed dataframe
print(data)

     normalized-losses  make  fuel-type  aspiration  num-of-doors  body-style  \
0                122.0     0          1           0             0           0
1                122.0     0          1           0             0           0
2                122.0     0          1           0             0           2
3                164.0     1          1           0             1           3
4                164.0     1          1           0             1           3
..                 ...   ...        ...         ...           ...         ...
200               95.0    21          1           0             1           3
201               95.0    21          1           1             1           3
202               95.0    21          1           0             1           3
203               95.0    21          0           1             1           3
204               95.0    21          1           1             1           3

     drive-wheels  engine-location  wheel-base  length  ...  engine-size  \
0               2                0        88.6   168.8  ...          130
1               2                0        88.6   168.8  ...          130
2               2                0        94.5   171.2  ...          152
3               1                0        99.8   176.6  ...          109
4               0                0        99.4   176.6  ...          136
..            ...              ...         ...     ...  ...          ...
200             2                0       109.1   188.8  ...          141
201             2                0       109.1   188.8  ...          141
202             2                0       109.1   188.8  ...          173
203             2                0       109.1   188.8  ...          145
204             2                0       109.1   188.8  ...          141

     fuel-system  bore  stroke  compression-ratio  horsepower  peak-rpm  \
0              5  3.47    2.68                9.0       111.0    5000.0
1              5  3.47    2.68                9.0       111.0    5000.0
2              5  2.68    3.47                9.0       154.0    5000.0
3              5  3.19    3.40               10.0       102.0    5500.0
4              5  3.19    3.40                8.0       115.0    5500.0
..           ...   ...     ...                ...         ...       ...
200            5  3.78    3.15                9.5       114.0    5400.0
201            5  3.78    3.15                8.7       160.0    5300.0
202            5  3.58    2.87                8.8       134.0    5500.0
203            3  3.01    3.40               23.0       106.0    4800.0
204            5  3.78    3.15                9.5       114.0    5400.0

     city-mpg  highway-mpg    price
0          21           27  13495.0
1          21           27  16500.0
2          19           26  16500.0
3          24           30  13950.0
4          18           22  17450.0
..        ...          ...      ...
200        23           28  16845.0
201        19           25  19045.0
202        18           23  21485.0
203        26           27  22470.0
204        19           25  22625.0

[205 rows x 25 columns]

In [43]:
data_encoded = pd.DataFrame(data)

In [44]:
data_encoded.head()

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,122.0,0,1,0,0,0,2,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,122.0,0,1,0,0,0,2,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,122.0,0,1,0,0,2,2,0,94.5,171.2,...,152,5,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,164.0,1,1,0,1,3,1,0,99.8,176.6,...,109,5,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,164.0,1,1,0,1,3,0,0,99.4,176.6,...,136,5,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

# Split the Data into Input & Output

In [46]:
X=data_encoded.drop(labels=['price'], axis=1)
y=data_encoded['price']

In [47]:
X.head()

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,122.0,0,1,0,0,0,2,0,88.6,168.8,...,4,130,5,3.47,2.68,9.0,111.0,5000.0,21,27
1,122.0,0,1,0,0,0,2,0,88.6,168.8,...,4,130,5,3.47,2.68,9.0,111.0,5000.0,21,27
2,122.0,0,1,0,0,2,2,0,94.5,171.2,...,6,152,5,2.68,3.47,9.0,154.0,5000.0,19,26
3,164.0,1,1,0,1,3,1,0,99.8,176.6,...,4,109,5,3.19,3.40,10.0,102.0,5500.0,24,30
4,164.0,1,1,0,1,3,0,0,99.4,176.6,...,5,136,5,3.19,3.40,8.0,115.0,5500.0,18,22

In [48]:
y.head(2)

0    13495.0
1    16500.0
Name: price, dtype: float64

In [49]:
data_encoded.shape

(205, 25)

# Split the Data into Train & Test

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test =train_test_split(X,y, test_size = 0.2, random_state = 1000)

In [52]:
X_train

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
83,122.0,11,1,1,0,2,1,0,95.9,173.2,...,4,156,6,3.59,3.86,7.00,145.0,5000.0,19,24
33,101.0,5,1,0,0,2,1,0,93.7,150.0,...,4,92,0,2.91,3.41,9.20,76.0,6000.0,30,34
62,115.0,8,1,0,1,3,1,0,98.8,177.8,...,4,122,1,3.39,3.39,8.60,84.0,4800.0,26,32
195,74.0,21,1,0,1,4,2,0,104.3,188.8,...,4,141,5,3.78,3.15,9.50,114.0,5400.0,23,28
132,150.0,17,1,0,0,2,1,0,99.1,186.6,...,4,121,5,3.54,3.07,9.31,110.0,5250.0,21,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,128.0,12,1,0,0,3,1,0,94.5,165.3,...,4,97,1,3.15,3.29,9.40,69.0,5200.0,31,37
192,122.0,20,0,1,1,3,1,0,100.4,180.2,...,4,97,3,3.01,3.40,23.00,68.0,4500.0,33,38
71,122.0,9,1,0,1,3,2,0,115.6,202.6,...,8,234,5,3.46,3.10,8.30,155.0,4750.0,16,18
87,125.0,11,1,1,1,3,1,0,96.3,172.4,...,4,110,6,3.17,3.46,7.50,116.0,5500.0,23,30
179,197.0,19,1,0,0,2,2,0,102.9,183.5,...,6,171,5,3.27,3.35,9.30,161.0,5200.0,19,24

In [53]:
y_train

83     14869.0
33      6529.0
62     10245.0
195    13415.0
132    11850.0
        ...
94      7299.0
192    13845.0
71     34184.0
87      9279.0
179    15998.0
Name: price, Length: 164, dtype: float64

# Model selection

here we have tried few models of the regression there are also mode models for regression problem that we can try and see which model is performing good with our data

In [56]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [68]:
model = DecisionTreeRegressor()
model1 = LinearRegression()
model2 = RandomForestRegressor()
model3 = GradientBoostingRegressor()

In [85]:
model.fit(X_train,y_train)
'''model1.fit(X_train,y_train)
model2.fit(X_train,y_train)
model3.fit(X_train,y_train)'''

'model.fit(X_train,y_train)\nmodel2.fit(X_train,y_train)\nmodel1.fit(X_train,y_train)\n'

In [59]:
data.columns

Index(['normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors',
       'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length',
       'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
       'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [60]:
model.feature_importances_

array([2.60240510e-02, 1.39064448e-02, 8.35600374e-06, 5.98649824e-07,
       3.99766361e-04, 5.47306037e-04, 4.00845335e-06, 0.00000000e+00,
       1.41894228e-04, 2.47569278e-03, 1.10275482e-02, 2.07306585e-03,
       6.33654193e-01, 6.04837378e-05, 1.14586755e-03, 2.60180309e-01,
       6.71976633e-05, 2.04880039e-05, 3.54420837e-03, 6.23621367e-03,
       2.30306579e-02, 1.07105223e-02, 2.29005475e-03, 2.45107141e-03])

with the help of the feature importance feature we can see which columns are most affecting our output column and based on that we can rank the most important columns

In [ ]:
#ML Testing

In [86]:
y_pred = model3.predict(X_test)

In [87]:
y_pred

array([ 6616.77855349, 34975.96857997,  9794.07969466, 10392.46876312,
       35218.48876452,  9633.51072705, 17454.59608141, 27130.40768908,
       16375.93971853, 14367.20201644,  7436.52240762, 16853.03638102,
        9887.39308404,  8364.46283035,  7975.23985846,  6885.24603197,
       16854.2795952 , 15958.51911074, 14935.97101964, 34102.94869975,
       16106.44022319,  9418.50303806, 17024.65332007,  6919.0290159 ,
       35609.97011663,  6674.22222289, 35672.93525971, 10113.00330174,
       10431.4900114 , 13913.8750558 , 35495.32464573, 35342.19994054,
        9660.91039931, 16729.66926526, 11596.50190808, 10704.4071498 ,
        8364.46283035,  8209.64221133, 14097.88108769,  7554.69343764,
        9078.42950237])

In [88]:
y_test

150     5348.000000
73     40960.000000
59      8845.000000
167     8449.000000
16     41315.000000
165     9298.000000
108    13200.000000
70     31600.000000
101    13499.000000
124    12764.000000
98      8249.000000
103    13499.000000
147    10198.000000
37      7895.000000
141     7126.000000
25      6692.000000
111    15580.000000
107    11900.000000
65     18280.000000
126    32528.000000
10     16430.000000
80      9959.000000
110    13860.000000
139     7053.000000
74     45400.000000
151     6338.000000
15     30760.000000
173     8948.000000
176    10898.000000
171    11549.000000
49     36000.000000
129    13207.129353
39      8845.000000
178    16558.000000
57     13645.000000
66     18344.000000
38      9095.000000
186     8495.000000
197    16515.000000
161     8358.000000
28      8921.000000
Name: price, dtype: float64

In [89]:
y_pred_tr = model3.predict(X_train)

In [90]:
#Evaluate the Model
from sklearn.metrics import r2_score

WITH DecisionTreeRegressor

In [66]:
r2_score(y_test, y_pred)

0.7528253410903325

In [67]:
#Train Accuracy
r2_score(y_train, y_pred_tr)

0.9991097203158161

WITH LinearRegression

In [75]:
r2_score(y_test, y_pred)

0.7776569667473439

In [76]:
#Train Accuracy
r2_score(y_train, y_pred_tr)

0.9062332496705594

WITH RandomForestRegressor()

In [83]:
r2_score(y_test, y_pred)

0.8075126616953279

In [84]:
#Train Accuracy
r2_score(y_train, y_pred_tr)

0.9868089166836498

WITH GradientBoostingRegressor()

In [91]:
r2_score(y_test, y_pred)

0.8059824205777495

In [92]:
#Train Accuracy
r2_score(y_train, y_pred_tr)

0.9932812267198184